<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Blog</title>
=======
    <title>Project</title>
>>>>>>> 9447d49568754c55abf70194e55c5f0e5990da95
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
  	<%= render 'layouts/navbar' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>

=======
    <%= yield %>
  </body>
</html>
>>>>>>> 9447d49568754c55abf70194e55c5f0e5990da95
